body {
  background: #D0D0D0;
  margin: 0;
  padding: 0;
  
  #content-block {
    margin: 10px 10px 0 10px;
    padding: 0 10px 1px 10px;
    background: #EFEFEF;
    min-height:500px;
    font-family: Tahoma;
    
    h1 {
      margin:0;
      padding: 10px 0;
      text-align:center;
    }
    
    p {
      background: #EFEFEF;
    }
    
    p.info {
      font-size:9pt;
    }
    
    ul#main-sections {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 800px;
      margin: 35px auto;
      
      // -----
      
      li { 
        display: inline-block; 
        vertical-align: top;
        width: 200px; 
        padding: 25px 50px; 
        margin: 15px 50px 15px 40px;
        text-align:center;
        border-radius: 2px;
        box-shadow: 2px 2px 6px 2px gray; 
      }
      
      li.lowbottom {
        padding-bottom:10px;
      }
      
      li.notimpl { 
        background-color: #DCDCDC;
        padding: 15px 50px;
                   
        a { color: gray !important; text-decoration:none !important; font-size: 10pt; } 
      }
      
      p { 
        text-align: left; 
        background-color: inherit;
      }
      
      p.small-header { margin-bottom: 0; } 
      
      ul {
        margin: 0;
        padding-left: 25px;
        border: none;
        list-style-type: square;
        
        li { 
          display: list-item;
          border: none;
          box-shadow: none;
          margin: 0;
          padding: 0; 
          text-align: left;
          color: black;
        }
        
        li.norm {
          a { color: black !important; }
        }
      }
      
    }
    
    div.floatbox { 
      float:left; 
      width:235px; 
      box-shadow: 2px 2px 6px 2px gray; 
      margin-right:10px; 
      padding-left:4px; 
      padding-bottom: 5px;
      border-radius:3px;
      
      //-- zawartość floatboxów 
      
      p { margin: 7px 3px 0 3px; }
      
      ul { padding: 0 5px 0px 30px;
           margin-bottom:15px; 
           margin-top:0;
         }
      ul.info { font-size: 9pt; }
    }
    
    li.mtop10 { margin-top: 10px; }
    
  }
  
  #right-menu {
    width: 170px;
    border: 1px solid blue;
    float: right;
    margin-right: 5px;
    padding:5px;
    background: #E0E0E0;
    
    //---
    ul {
      margin: 0;
      padding: 0 0 0 10px;
      list-style-type: none;
      
      li.first { font-weight:bold; font-size:8pt; padding-bottom:5px; text-align:center; }
    } 
  }
  
  .footer {
    padding:10px 0 10px 0; 
    margin: 0 10px 0 10px; 
    border-top: 1px solid gray; 
    text-align:center; 
    font-family: Tahoma; 
    font-size:9pt; 
    letter-spacing: 0.1em;
    background: #D0D0D0;
  }
}