{% extends "main_layout.twig" %}

{% set value = 'wartość testowa' %}
{% set title = 'Strona rejestracji' %}

{% block contents %}
    <h1>Rejestracja użytkownika</h1>
    <p>
      Witamy nowy użytkowniku.
    </p>
{% endblock %}