{% extends "main_layout.twig" %}

{% set value = 'wartość testowa' %}
{% set title = 'szablony TWIG' %}

{% block contents %}
    <h1>Strona główna</h1>
    <p>
      Tekst statyczny. Czesc {{name}}! <br />
      
      Obiekt: {{obj.name}}
    </p>    
    
{% endblock %}