{% extends "main_layout.twig" %}

{% set value = 'MENU' %}
{% set title = 'Strona główna' %}

{% block contents %}

  <h1>Strona główna - witamy</h1>
  
  <ul id="main-sections">
    <li><a href="/web-testy/html/index">Index - strona główna</a></li>
    
    <li class="lowbottom">
      <a href="/web-testy/html/doctrine/index">Test Doctrine</a>
      
      <p class="info">
        GIT - branch: doctrine
      </p>
    </li>
    
    <li class="lowbottom">
      <a href="#">Test walidacji formularzy</a>
      
      <p class="info">
        GIT - branch: walidacja
      </p>
    </li>
    
    <li class="lowbottom">
      <a href="#">Rozwój frameworka na Slim</a>
      
      <p class="info">
        GIT - branch: framework
      </p>
    </li>
    
    <!--  
	    <li><a href="/web-testy/html/aura/index">Aura</a></li>
	    <li><a href="/web-testy/html/zend/index">Zend Framework</a></li>
	    <li class="notimpl"><a href="">Zabawy CSS 3</a></li>
	    
	    <li class="notimpl">
	      <a href="">Testy TWIG</a>
	      <p class="info small-header">
	        Linki:
	      </p>
	      <ul>
		      <li class="norm"><a href="http://twig.sensiolabs.org/doc/templates.html" target="_blank">Dokumentacja</a></li>
	      </ul>
	    </li>
	    
	    <li class="notimpl"><a href="">JS - Drag & Drop</a></li>
	    <li class="notimpl"><a href="">JS - Browser Storage</a></li>
    -->
    
  </ul>
  
{% endblock %}