{% extends "main_layout.twig" %}

{% set value = 'MENU' %}
{% set title = 'Testy Doctrine' %}
{% set subTitle = 'Index' %}

{% block contents %}

  <h1>Testy Doctrine 2 :: {{ subTitle }}</h1>

  {% block right_menu %}  
    <div id="right-menu">
      <ul>
        <li class="first">MENU</li>
        <li><a href="/web-testy/html/doctrine/index">index</a></li>
        <li><a href="/web-testy/html/doctrine/odczyt">odczyt</a></li>
      </ul>
    </div>
  {% endblock %}  
  
  {% block page_contents %} -- content -- {% endblock %}
    
{% endblock %}