<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="PSPad editor, www.pspad.com">
  <title>PHP Testy :: {{ title }}</title>
  
    {% for elem in cssStyleSheets  %}
      <link type="text/css" href="{{elem}}" rel="stylesheet" />
    {% endfor %}
    
    {% for elem in lessStyleSheets  %}
      <link rel="stylesheet/less" type="text/css" href="{{elem}}" />
    {% endfor %}
    
    {% for elem in javaScripts  %}
      <script src="{{elem}}" type="text/javascript"></script>
    {% endfor %}
    
  </head>
  <body>
    <div id="content-block">
      {% block contents %}  {% endblock %}
    </div>
    
    {% block footer %}
	    <div class="footer">
	      <a href="/web-testy/html/index">Strona główna</a>  |
	      <a href="/web-testy/html/doctrine/index">Testy Doctrine 2</a> |
	      [{{ value }}]
	    </div>
    {% endblock %}
  </body>
</html>